:root {
    --primary-color: #0A6871;
    --secondary-color: #095A86;
    --accent1-color: #F9F7F3;
    --accent2-color: #EDDEA4;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #F7A072;
    --nav-link-color: #D4A373;
    --nav-hover-link-color: #2E86AB;
    --nav-hover-background-color: #f5f79823;
}

body {
    font-family: var(--paragraph-font);
    background-color: #f5f5f5;
    color: #333;
}
h1, h2 {
    font-family: var(--heading-font);
}
h1 {
    color: var(--primary-color);
}
h2 {
    color: var(--secondary-color);
}
p {
    line-height: 1.6;
}
.color-scheme {
    background-color: var(--accent2-color);
    padding: 10px;
    border: 1px solid #bdc3c7;
}
.typography {
    font-family: 'Courier New', monospace;
}