body {
    display: grid;
    max-width: max-content;
    grid-template-rows: auto 1fr auto ;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

header {
    display: grid;
    flex-direction: column;
    grid-row: 1 / 2;
    align-items: center;
    background: #356098;
    color: #eee;
    text-align: center;
    box-sizing: border-box;    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 0;
}

.navigation {
	display: flex;
    justify-content: center;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto;
}
.navigation a {
	display: block;
	color: #eee;
	padding: .50rem;
	text-decoration: none;
	text-align: center;
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #eee;
}
.wrap {
    flex-wrap: wrap;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem; /* Optional: Add space between the columns */
    grid-row: 2 / 3;
    padding: 1rem;
}


.card {
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
.card1 {
    background: #d1b32d;
}
.card2 {
    background: #505e35;
}

footer {
    background: #356098;
    padding: 1rem;
    text-align: center;
    grid-row: 3 / 4;
    color: #eee;
}
