body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto; /* Filas para header, main y footer */
    grid-template-columns: 1fr; /* Una columna */
    max-width: 1000px;
    margin: 0 auto; /* Centra el body horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #58641D;
    color: #eee;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

main {
    background: #7B904B;
    grid-column: 1 / 4;
    grid-template-rows: 1fr;
    padding: 1rem
}

.aside-content {
    background: #DBD2E0;
    grid-column: 4 / 5;
    padding: 1rem
}

footer {
    background: #273B09;
    padding: 5rem;
    text-align: center;
    grid-column: 1 / 5;
    color: #eee;
}





.modern a {
	flex: 1 1 100%;
}


* {
	margin: 0;
	padding: 0;
}
.navigation {
	display: flex;
	background-color: #333;
	align-items: center;
    grid-column: 1fr;
}
.navigation li {
	flex: 1 1 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: .50rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #eee;
}