body {
    display: grid;
    height: 60vh;
    max-width: max-content;
    grid-template: auto 1fr auto / 1fr 1fr 1fr;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    box-sizing: border-box;
}

header {
    display: grid;
    flex-direction: column;
    grid-column: 1 / 4;
    align-items: center;
    background: #356098;
    color: #eee;
    text-align: center;
    box-sizing: border-box;    
}


.navigation {
	display: flex;
    justify-content: center;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: .50rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #eee;
}

.wrap {
    flex-wrap: wrap;
}

main {
    background: orange;
    grid-column: 1 / 4;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 0;
}

.card {
    background: #797e6f;
    padding: 1rem;
    width: 100px;

}

.aside-content {
    align-items: right;
    grid-column: 2 / 4;
    padding: 1rem
}

footer {
    background: #356098;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
    color: #eee;
}
